/* 头部区域 */
#header {
  border-bottom: 1px solid #ccc;
}
#header .container .row > div {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
#header .container .row > div a {
  color: #666;
}
#header .container .row > div .link {
  display: block;
  position: relative;
}
#header .container .row > div .link img {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 999;
}
#header .container .row > div .link:hover img {
  display: block;
}
#header .container .row > div ~ div {
  border-left: 1px solid #ccc;
}
#header .container .row > div .btn-link {
  color: #666;
}
#header .container .row > div .form-horizontal .control-label {
  padding-top: 0;
}
/* 导航区域 */
#nav {
  background-color: #fff;
  margin-bottom: 0;
  z-index: 997;
  width: 100%;
  top: 0;
}
#nav .navbar-header .navbar-toggle {
  margin-top: 23px;
}
#nav .navbar-header .navbar-brand {
  height: 80px;
  line-height: 50px;
}
#nav .navbar-header .navbar-brand i {
  font-size: 30px;
}
#nav .navbar-header .navbar-brand .icon-icon {
  color: #e92322;
}
#nav .navbar-header .navbar-brand .icon-logo {
  color: #333;
}
#nav .navbar-collapse .navbar-nav li a {
  height: 80px;
  line-height: 50px;
}
#nav .navbar-collapse .navbar-nav li a:hover {
  border-bottom: 2px solid #e92322;
}
#nav .navbar-collapse .navbar-nav li.active a {
  background-color: #fff;
  border-bottom: 2px solid #e92322;
}
/* 轮播图区域的样式 */
#slide .large-img {
  height: 410px;
  background-position: center center;
}
#slide .small-img {
  width: 100%;
}
#feature {
  padding: 40px;
}
#feature .media a {
  color: #666;
}
#feature .media a:hover {
  text-decoration: none;
  color: #e92322;
}
#booking {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
#booking .text-danger {
  color: #e92322;
}
/* 商品区域 */
#products {
  padding: 40px 0;
  background-color: #eee;
}
#products .title .nav-tabs li a {
  color: #333;
  border: 0;
  border-bottom: 2px solid transparent;
  font-size: 16px;
  font-weight: 600;
}
#products .title .nav-tabs li a:hover {
  background-color: transparent;
}
#products .title .nav-tabs li.active a {
  background-color: transparent;
  border-bottom: 2px solid #e92322;
}
#products .tab-content .product {
  background-color: #fff;
  display: flex;
  margin-top: 20px;
}
#products .tab-content .product.active {
  background-color: #e92322;
  color: #fff;
  position: relative;
}
#products .tab-content .product.active::before {
  content: "\e915";
  font-family: itcast;
  font-size: 30px;
  position: absolute;
  top: -6px;
}
#products .tab-content .product .left {
  flex: 1;
  padding: 15px;
}
#products .tab-content .product .left .title {
  text-align: center;
}
#products .tab-content .product .left .content .row div {
  margin-bottom: 10px;
}
#products .tab-content .product .left .content .row div:nth-child(2n) {
  text-align: right;
}
#products .tab-content .product .left .content .row div p {
  margin-bottom: 0;
}
#products .tab-content .product .right {
  width: 120px;
  border-left: 1px dashed #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 340px) {
  #products .tab-content .product .right {
    width: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #products .tab-content .product .right {
    width: 100px;
  }
}
#products .tab-content .product .right p {
  margin-bottom: 0;
}
#products .tab-content .product .right p strong {
  font-size: 30px;
}
#products .tab-content .product .right::before,
#products .tab-content .product .right::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #eee;
  left: -8px;
  border-radius: 50%;
}
#products .tab-content .product .right::before {
  top: -8px;
}
#products .tab-content .product .right::after {
  bottom: -8px;
}
#products .tab-content .product .right .tooltips {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}
#products .tab-content .product .right .tooltips button:first-child {
  color: #e92322;
  border: 1px solid #e92322;
  background-color: #fff;
}
#products .tab-content .product .right .tooltips button:last-of-type {
  color: #0f0;
  border: 1px solid #0f0;
  background-color: #fff;
}
/* 新闻区域样式 */
#news {
  padding: 40px 0;
}
#news .row > div h4 {
  text-align: center;
  line-height: 40px;
  border-bottom: 1px dashed #ccc;
  position: relative;
}
#news .row > div h4::after {
  content: '';
  position: absolute;
  right: -10px;
  bottom: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
#news .row > div .nav-tabs {
  border-bottom: 0;
}
@media (max-width: 991px) {
  #news .row > div .nav-tabs li {
    width: 25%;
  }
  #news .row > div .nav-tabs li a {
    width: 60px;
    margin: 0px auto;
  }
}
#news .row > div .nav-tabs li a {
  border-radius: 50%;
  margin-bottom: 20px;
  color: #ccc;
  border: 0;
}
#news .row > div .nav-tabs li a i {
  font-size: 30px;
}
#news .row > div .nav-tabs li a:hover {
  background-color: #e92322;
}
#news .row > div .nav-tabs li.active a {
  background-color: #e92322;
}
#news .row > div .tab-content .list-group-item {
  border: 0;
}
/* 合作伙伴区域的样式 */
#footer {
  padding: 20px 0;
}
#footer .title h3 {
  text-align: center;
}
#footer .content a {
  display: block;
  text-align: center;
  color: #666;
}
#footer .content a:hover {
  color: #e92322;
  text-decoration: none;
}
#footer .content a:focus {
  text-decoration: none;
  outline: 0;
}
#footer .content a i {
  font-size: 60px;
}
